body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .top-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  
  .left-logo img {
    height: 30px; /* Adjust height as needed */
  }
  
  .center-search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  
  .center-search input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
  }
  
  .center-search button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .center-search button img {
    height: 20px; /* Adjust height as needed */
  }
  
  .right-icons {
    display: flex;
  }
  
  .icon {
    margin-left: 10px;
  }
  
  .content {
    margin-top: 50px; /* Adjust this margin to prevent content from being hidden behind the fixed menu */
    padding: 20px;
    box-sizing: border-box;
  }
  /* for loading */
  
  #loading {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  


  /* for categories */
  #categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .category {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .category h2 {
    margin-top: 0;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .image-container img {
    width: calc(50% - 5px);
    height:150px;
    border-radius: 8px;
    object-fit: cover;
  }